@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&family=Roboto:wght@300&display=swap");

body {
  font-family: "Roboto, san-serif"; /* Global Font */
  font-size: 14px; /*Global font Size */
  line-height: 1.5; /* Global line height */
}

/* Navigation Styling */

/* Jumbotron Styling */

.order-1{
}

.order-2 {
    
}


