@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&family=Roboto:wght@300&display=swap");

/*Body Styling*/
body,
html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background: url(/assets/images/);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Roboto", san-serif; /* Global Font */
  font-size: 20px; /*Global font Size */
  line-height: 1.5; /* Global line height */
  color: #cccccc;
}

/* Global Navigation Styling */
.nav-styling {
}

/* Global Footer Styling */
.footer-styling {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background: #999;
}

/* Landingpage Jumbotron Styling */
.jumbotron {
    background-color: rgb(0 0 0 / 40%);
    margin-top: 35px;
    margin-left: -5px;
}

button-styling {
}


/* Partner Page Styling */

.page-header {
    margin-left: 39%;
    margin-top: 35px;
}

.partner-header {

}

.partner-block-divider {
    size: 100%;
}

.partner-row-styling {
    margin: 5px;
}

.blockquote-styling{
 background-color: rgb(0 0 0 / 40%);
 border-radius: 15px;
 font-size: 20px;
}

.blockquote-styling p {
    margin: 5px;
}